</body>
<footer>
    <p class="regular-paragraph">
        Copyright &copy;  
        <script>document.write(new Date().getFullYear());</script>. 
        All Rights Reserved. &mdash; Innovative web solutions by <a href="https://wa.me/263783087860">Takunda Nyan'ara</a>
    </p>
</footer>
<script src="/js/page.js"></script>
</html>