<%- include("partials/header") %>

<section class="about">
    <h1 class="font-lato">About the Todo List System</h1>
    <details class="intro">
        <summary class="font-roboto"><span>></span> Introduction</summary>
        <p class="font-roboto">
            Welcome to the Todo List System, a simple and intuitive application designed to help you stay 
            organized and boost your productivity. This page provides an overview of the system, the 
            technologies used, and the key features it offers.
        </p>
    </details>
    <details class="technolgies">
        <summary class="font-roboto"><span>></span> Technologies Used</summary>
        <p class="font-roboto">
            The Todo List System is built using modern web technologies, ensuring a seamless user experience 
            and optimal performance. The following technologies have been leveraged to create this application:
        </p>
        <div class="techs">
            <h3 class="font-lato">Front-end</h3>
            <ul>
                <li>HTML5: The latest version of HTML for structuring the user interface.</li>
                <li>CSS3: Cascading Style Sheets for visually enhancing the application.</li>
                <li>JavaScript: The programming language used to add interactivity and dynamic functionality to the system.</li>
            </ul>
        </div>
        <div class="techs">
            <h3 class="font-lato">Back-end</h3>
            <ul>
                <li>Node.js: A JavaScript runtime environment for server-side development.</li>
                <li>Express.js: A fast and minimalist web application framework for Node.js.</li>
                <li>MongoDB: A flexible and scalable NoSQL database for storing user data.</li>
                <li> 
                    Mongoose: An Object Data Modeling (ODM) library for MongoDB, providing a 
                    simple and intuitive way to interact with the database.
                </li>
            </ul>
        </div>
    </details>
    <details class="features">
        <summary class="font-roboto"><span>></span> Key Features</summary>
        <p class="font-roboto">
            The Todo List System offers a range of features to help you manage your tasks effectively. 
            Here are some of its key features:
        </p>
        <div class="feature">
            <h3 class="font-lato">User Authentication</h3>
            <ul>
                <li>Sign Up: Create a new account to access the system and start using the todo list.</li>
                <li>Sign In: Log in to your existing account securely to access your personalized todo lists.</li>
            </ul>
        </div>
        <div class="feature">
            <h3 class="font-lato">Create and manage Todo Lists</h3>
            <ul>
                <li>Create New Lists: Easily create new todo lists with custom names.</li>
                <li>Add Items: Add new tasks or items to your todo lists.</li>
                <li> Delete Items: Remove completed or unnecessary tasks from your lists.</li>
            </ul>
        </div>
        <div class="feature">
            <h3 class="font-lato">Multiple Todo Lists</h3>
            <ul>
                <li>Keep Your Tasks Organized: Create and manage multiple todo lists based on different categories or projects.</li>
                <li>Switch between Lists: Seamlessly switch between different lists to focus on specific tasks.</li>
            </ul>
        </div>
        <div class="feature">
            <h3 class="font-lato">User-Friendly Interface</h3>
            <ul>
                <li>Intuitive Design: Enjoy a clean and visually appealing user interface for a pleasant user experience.</li>
                <li> Responsive Layout: Access and manage your todo lists from any device, including desktops, tablets, and smartphones.</li>
            </ul>
        </div>
        <div class="feature">
            <ul>
                <li>Default List: Get started quickly with a pre-populated "Getting Started" list, providing tips on how to use the system effectively.</li>
                <li>Personalize the List: Customize the list by adding, modifying, or deleting items based on your preferences.</li>
            </ul>
        </div>
    </details>
    <details class="conclusion">
        <summary class="font-roboto"><span>></span> Conclusion</summary>
        <p class="font-roboto">
            The Todo List System is a powerful yet user-friendly application designed to simplify task management 
            and improve productivity. With its intuitive interface, multiple lists support, and essential features, 
            staying organized has never been easier. Start using the Todo List System today and make your life more 
            productive and organized.
        </p>
    </details>
</section>

<%- include("partials/footer") %>