<%- include("partials/header") %>
<%- include("partials/navbar") %>

<section style="height: 60dvh;">
    <form class="create-list" action="/dashboard" method="post">
        <p class="font-lato">Create New List</p>
        <input type="text" class="font-roboto" name="newListName" placeholder="Enter name here">
        <input type="hidden" name="username" value="<%= username %>">
        <input type="hidden" name="pageTitle" value="Create New List">
        <button type="submit" onclick="validateForm(event)" class="font-roboto">CREATE</button>
    </form>
</section>

<%- include("partials/footer") %>